{% load staticfiles %}

<!DOCTYPE html>
<!-- TODO: Switch to mako -->
<html>
<head>
    <!--[if lt IE 9]>
      <script type="text/javascript">
        var html5 = { 'elements': 'abbr article aside audio bdi data
    datalist details figcaption figure footer header hgroup mark meter nav
    output progress section summary time video' };
      </script>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></
    script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %}

    Momentarily removed pipeline. I really cannot make this work
    reliably on my system as it is configured right now. I've spent 2
    hours on this now, and I'm still running into version issues
    between different libraries and weird behaviors with pip. 

Right now, I was stuck on:
  'compressed' is not a valid tag library: Template library compressed
  not found, tried
  django.templatetags.compressed,django.contrib.staticfiles.templatetags.compressed,pipeline.templatetags.compressed
  Before that, I was stuck on smart_tags being imported
  Before that, there was a weird behavior where pipeline would stop
  working if I removed the temporary directory pip used to install it.
  Etc. 


    {% load compressed %}
    {% compressed_js 'util' %}
    {% compressed_css 'bootstrap' %}
    {% compressed_css 'util_css' %}
    {% endcomment %}
    <script   type="text/javascript" src="{% static "js/jquery-1.9.1.js" %}" charset="utf-8"></script>
    <script   type="text/javascript" src="{% static "js/json2.js" %}" charset="utf-8"></script>
    <script   type="text/javascript" src="{% static "js/underscore.js" %}" charset="utf-8"></script>
    <script   type="text/javascript" src="{% static "js/backbone.js" %}" charset="utf-8"></script>
    <script   type="text/javascript" src="{% static "js/jquery.cookie.js" %}" charset="utf-8"></script>
    <script   type="text/javascript" src="{% static "js/bootstrap.js" %}" charset="utf-8"></script>
    <script   type="text/javascript" src="{% static "js/jquery-ui-1.10.2.custom.js" %}" charset="utf-8"></script>
    <script   type="text/javascript" src="{% static "js/jquery.flot.patched-multi.js" %}" charset="utf-8"></script>
    <script   type="text/javascript" src="{% static "js/jquery.flot.tooltip.js" %}" charset="utf-8"></script>
    <script   type="text/javascript" src="{% static "js/jquery.flot.axislabels.js" %}" charset="utf-8"></script>
    <script   type="text/javascript" src="{% static "js/new_dashboard/load_analytics.js" %}" charset="utf-8"></script>

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/bootstrap-extensions.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/jquery-ui-1.10.2.custom.css" %}" rel="stylesheet" type="text/css" />

    {% block additional_js %}
    {% endblock %}
    {% block title %}
        <title>Analytics</title>
    {% endblock %}
    <meta name="csrf-token" content="{{csrf_token}}">
</head>
<body>

<div id="navbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            {% block nav %}
                <a href="/" class="brand">edX Analytics</a>
                <ul class="nav">
                    {% if user.is_authenticated %}
                        <li class="">
                            <a href="/frontend/logout">Logout</a>
                        </li>
                        <li class="">
                            <a href="/new_dashboard">Dashboard</a>
                        </li>
                        <li class="">
                            <a href="/dashboard">Old Dashboard</a>
                        </li>
                    {% else %}
                        <li class="">
                            <a href="/frontend/login">Login</a>
                        </li>
                    {% endif %}
                </ul>
            {% endblock %}
        </div>
    </div>
</div>

<header class="subhead">
    <div class="container">
        {% block header %}
        {% endblock %}
    </div>
</header>

<div class="container">

{% block content %}
{% endblock %}

</div>
</body>
</html>
