/**
    Generic definitions
 **/
body {
    font-family: 'Open Sans', sans-serif;
    /*margin: 3em;*/
    width: 900px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
table {
    border-spacing: 0;
}
th, td {
    padding: 0.2em 1em;
}
tr:nth-child(odd) { 
    background-color:#eee; 
}
tr:nth-child(even) { 
    background-color:#fff; 
}
section {
    display: none;
    margin: 1em;
}

/**
    Layout
 **/
#ytplayer {
    padding: 1em 3em;
}
.stat-box {
    float: left;
    background-color: #eee;
    margin: 0 0.2em;
    padding: 0.5em;
    width: 9em;
    height: 5em;
    text-align: center;
}
.stat {
    font-size: 1.4em;
    font-weight: bold;
    height: 2em;
    color: steelblue;
}
.substat {
    font-size: 0.8em;
    height: 1em;
}  
.desc {
    font-size: 0.8em;
}  
#tabs, #vis-options {
    /*background-color: #d6d6d6;*/
    background-color: #eee;
}
#tabs div, #vis-options div {
    float: left;
}
#tabs {
    padding: 0.7em;
    font-weight: bold;
    width: 100%;
}
#vis-options {
    padding: 0.5em;
}
#tabs a:hover{
    color: steelblue;
}
#tabs a, #vis-options a {
    margin: 0.5em;
    padding: 0.3em 1em;
    text-decoration: none;
}
#tabs a, #vis-options a {
    color: #2A2E40;
}    
#tabs a.active, #vis-options a.active {
    /*background-color: #96A5E6;*/
    /*background-color: #6DBCDB;*/
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}
#vis-options #binsize-options {
    margin: 0.8em;
}

/**
    d3 visualizations
 **/

.chart {
    padding: 0.5em 3em 2em 3em;
    /*padding: 0 3em 2em 3em;*/
}
.chart rect{
    fill: teal;
    cursor: pointer;
}
.chart text{
    font-size: 0.8em;
    /*fill: white;*/
    cursor: pointer;
}
.chart path{
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.chart .axis path,
.chart .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.chart .axis text {
    fill: black;
}

.chart .playbar {
    stroke: #CD332D; /* YouTube red */
    stroke-width: 0.1em;
}

.tooltip{
    font-size: 0.8em;
    background-color: #fff8dc;
    padding: 0.3em 0.5em;
}    


