#videos-table .video-name {
    text-align: left;
    width: 450px;
}
#videos-table .views {
    text-align: left;
    width: 200px;
}
#videos-table .watching-time {
    text-align: left;
    width: 250px;
}

#videos-table a {
    text-decoration: none;
    color: steelblue;
}
