<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<style>
    body {
        font-family: sans-serif;
        margin: 3em;
    }
    #ytplayer {
        padding: 1em 3em;
    }
    .stat {
        font-weight: bold;
        padding-left: 1em;
    }
    #vis-options {
        margin: 1em 0;
    }
    #vis-options a {
        margin: 0.5em;
        padding: 0.3em;
        text-decoration: none;
    }
    #vis-options a {
        color: #2A2E40;
    }    
    #vis-options a.active {
        background-color: #96A5E6;
    }
    #vis-options #binsize-options {
        margin: 0.8em;
    }
    .chart {
        padding: 0.5em 3em 2em 3em;
        /*padding: 0 3em 2em 3em;*/
    }
    .chart rect{
        fill: teal;
        cursor: pointer;
    }
    .chart text{
        font-size: 0.8em;
        /*fill: white;*/
        cursor: pointer;
    }
    .chart path{
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }
    .chart .axis path,
    .chart .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }
    .chart .axis text {
        fill: black;
    }

    .chart .playbar {
        stroke: #CD332D; /* YouTube red */
        stroke-width: 0.1em;
    }

    .tooltip{
        font-size: 0.8em;
        background-color: #fff8dc;
        padding: 0.3em 0.5em;
    }    

    #speed-table .speed, #speed-table .views {
        text-align: left;
        width: 100px;
    }

    #speed-table .percent-views {
        text-align: left;
        width: 300px;
    }
    
    .speed-bar{
        display: inline-block;
        height: 0.8em;
        background-color: steelblue;
        margin-right: 1em;
    }
</style>

<script>
var data;
var chart;
var player;

var options = {};
// var binSizeOptions = [1,2,5,10,20,30,60];
// var defaultBinSize = 5;
// var binSize = 0;
var duration = 0;
var visWidth = 540;
var visHeight = 180;


/* Helper Functions */

/* Return the size of an object, because .length doesn't work for objects */
function getObjectSize(obj){
    var size = 0;
    var key;
    for (key in obj){
        if (obj.hasOwnProperty(key))
            size++;
    }
    return size;
}


/* Return a human-readable format for the number of seconds */
function formatSeconds(sec){
    var s = Math.round(sec%60);
    return "" + Math.floor(sec/60) + ":" + (s<=9 ? '0' + s : s);
}

/* Move the player to the selected region to sync with the vis */
function rectClickHandler(d, i){
    console.log($(this), d, i);
    // player.seekTo(i * binSize);
    player.seekTo(i);
}


function moveLine(currentTime){
    var chart = d3.selectAll("svg.play-chart");
    if (chart.length == 0)
        return;
    var curPosition = chart.attr("width") * currentTime / duration;
    chart.selectAll(".playbar")
        .transition()
        .duration(0)
        .attr("x1", curPosition)
        .attr("x2", curPosition);
}

// function dragLine(){
//     console.log("dragged");
//     return d3.behavior.drag()
//         .on("drag", function(d,i){
//             d.x += d3.event.dx;
//             d.y += d3.event.dy;
//             d3.select(this).attr("transform", function(d,i){
//                 return "translate(" + [ d.x, d.y ] + ")";
//             });
//         });
// }

function drawPlayVis(dataset, duration, w, h){
    d3.selectAll("svg.play-chart").remove();
    var xScale = d3.scale.linear().domain([0, duration]).range([0, w]);
    var yScale = d3.scale.linear().domain([0, d3.max(dataset)]).range([h, 0]);

    // margin = 20,
    // y = d3.scale.linear().domain([0, d3.max(data)]).range([0 + margin, h - margin]),
    // x = d3.scale.linear().domain([0, data.length]).range([0 + margin, w - margin])

    var barPadding = 0;
    var chart = d3.select("#play-vis").append("svg")
                .attr("class", "chart play-chart")
                .attr("width", w)
                .attr("height", h);
            // .append("g")
            //     .attr("transform", "translate(0,30)");

    // Show tooltips on mouseover
    var tooltip = d3.select("body")
        .append("div")
        .attr("class", "tooltip")
        .style("position", "absolute")
        .style("z-index", "10")
        .style("visibility", "hidden")
        .text("Tooltip");

    var line = d3.svg.line()
        .x(function(d, i){ return xScale(i); })
        .y(function(d){ return yScale(d); }); 

    // chart.selectAll("path")
    //     .data(dataset)
    //     .enter().append("path")    
    //     .attr("d", line(dataset));

    // chart.append("svg:path")
    //     .data(dataset)
    //     .attr("d", line(dataset))
    //     .on("click", rectClickHandler);
        // .on("mouseover", function(d, i){
        //     console.log(this, d, i);
        //     return tooltip.text("at " + formatSeconds(d.key) + " count: " + d.value).style("visibility", "visible");
        // })
        // .on("mousemove", function(d){
        //     return tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");
        // })
        // .on("mouseout", function(d){
        //     return tooltip.style("visibility", "hidden");
        // });   
    // // Add histogram
    chart.selectAll("rect")
        .data(dataset)
        .enter().append("rect")
        .attr("x", function(d, i){ return i * (w / dataset.length); })
        .attr("y", yScale)
        .attr("width", w / dataset.length - barPadding)
        .attr("height", function(d){ return h - yScale(d); })
        .on("click", rectClickHandler)
        .on("mouseover", function(d, i){
            return tooltip.text("at " + formatSeconds(i) + " count: " + d).style("visibility", "visible");
        })
        .on("mousemove", function(d){
            return tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");
        })
        .on("mouseout", function(d){
            return tooltip.style("visibility", "hidden");
        });

    // Add playbar
    chart.append("line")
        .attr("class", "playbar")
        .attr("x1", 0)
        .attr("x2", 0)
        .attr("y1", 0)
        .attr("y2", h);
        // .call(dragLine);
    
    // chart.selectAll("text")
    //     .data(dataset)
    // .enter().append("text")
    //     .text(function(d){ return Math.floor(d); })
    //     .attr("x", function(d, i){ return i * (w / dataset.length)+3; })
    //     .attr("y", function(d){ return h - (d*amplifier) - 5; });

    // Add axes
    var padding = 0;
    var xAxis = d3.svg.axis()
        .scale(xScale)
        .orient("bottom")
        .ticks(5)
        .tickFormat(formatSeconds);
    var yAxis = d3.svg.axis()
        .scale(yScale)
        .orient("left")
        .ticks(3);
    chart.append("g")
        .attr("class", "axis x-axis")
        .attr("transform", "translate(0," + (h - padding) + ")")
        .call(xAxis);
    chart.append("g")
        .attr("class", "axis y-axis")
        //.attr("transform", "translate(" + padding + ",0)")
        .call(yAxis);        
    return chart;
}



function drawTimeVis(dataset, w, h){
    // Data format: array of [date, count] entries
    // e.g., dataset[0] ==> "2013-03-01": 34

    keys = dataset.map(function(d) { return d[0] });
    values = dataset.map(function(d) { return d[1] });
    d3.selectAll("svg.time-chart").remove();
    var xScale = d3.scale.ordinal().domain(keys).rangePoints([0, w]);
    var yScale = d3.scale.linear().domain([ 0, d3.max(values) ]).range([h, 0]);

    var barPadding = 1;
    var chart = d3.select("#time-vis").append("svg")
                .attr("class", "chart time-chart")
                .attr("width", w)
                .attr("height", h);
            // .append("g")
            //     .attr("transform", "translate(0,30)");

    // Show tooltips on mouseover
    var tooltip = d3.select("body")
        .append("div")
        .attr("class", "tooltip")
        .style("position", "absolute")
        .style("z-index", "10")
        .style("visibility", "hidden")
        .text("Tooltip");

    var line = d3.svg.line()
        .x(function(d, i){ return xScale(i); })
        .y(function(d){ return yScale(d[1]); });
        // .on("mouseover", function(d){
        //     return tooltip.text(d.value[0] + ": " + d.value[1] + " views").style("visibility", "visible");
        // })
        // .on("mousemove", function(d){
        //     return tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");
        // })
        // .on("mouseout", function(d){
        //     return tooltip.style("visibility", "hidden");
        // });

    // chart.selectAll("path")
    //     .data(d3.entries(dataset))
    //     .enter().append("path")    
    //     .attr("d", line(dataset))
        // .on("mouseover", function(d){
        //     console.log(d);
        //     return tooltip.text(d.value[0] + ": " + d.value[1] + " views").style("visibility", "visible");
        // })
        // .on("mousemove", function(d){
        //     return tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");
        // })
        // .on("mouseout", function(d){
        //     return tooltip.style("visibility", "hidden");
        // });
    // Add histogram
    chart.selectAll("rect")
        .data(d3.entries(dataset))
        .enter().append("rect")
        .attr("x", function(d, i){ return i * (w / keys.length); })
        .attr("y", function(d){ return yScale(d.value[1]); })
        .attr("width", w / keys.length - barPadding)
        .attr("height", function(d){ return h - yScale(d.value[1]); })
        // .on("click", rectClickHandler)
        .on("mouseover", function(d){
            return tooltip.text(d.value[0] + ": " + d.value[1] + " views").style("visibility", "visible");
        })
        .on("mousemove", function(d){
            return tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");
        })
        .on("mouseout", function(d){
            return tooltip.style("visibility", "hidden");
        });

    // Add axes
    var padding = 0;
    var xAxis = d3.svg.axis()
        .scale(xScale)
        .orient("bottom")
        .tickValues(xScale.domain().filter(function(d,i){
            // only showing the first day of each month
            return d.substr(-2) == "01";
        }));
    var yAxis = d3.svg.axis()
        .scale(yScale)
        .orient("left")
        .ticks(3);
    chart.append("g")
        .attr("class", "axis x-axis")
        .attr("transform", "translate(0," + (h - padding) + ")")
        .call(xAxis);
    chart.append("g")
        .attr("class", "axis y-axis")
        //.attr("transform", "translate(" + padding + ",0)")
        .call(yAxis);      

    return chart;
}


// This function creates an <iframe> (and YouTube player)
// after the API code downloads.

function onYouTubeIframeAPIReady() {
  player = new YT.Player('ytplayer', {
    height: '330',
    width: '540',
    videoId: '${ video_id }',
    events: {
      'onReady': onPlayerReady,
      'onStateChange': onPlayerStateChange
    }
  });
}

// The API will call this function when the video player is ready.
function onPlayerReady(event) {
    event.target.playVideo();
    setInterval(updatePlayerInfo, 600);
}

// Update the current playbar in the vis
function updatePlayerInfo(){
    // Conditions: player should have been initialized, player should be playing, and duration should be available
    if (player && YT.PlayerState.PLAYING && duration > 0){
        moveLine(player.getCurrentTime());
    }
}

// The API calls this function when the player's state changes.
// The function indicates that when playing a video (state=1),
// the player should play for six seconds and then stop.
function onPlayerStateChange(event) {
  if (event.data == YT.PlayerState.PLAYING) {
    // Accurate information available only once the player starts playing
    if (duration == 0){
        duration = player.getDuration();
        init();
    }
  }
}


function bindEvents(){
    $("#vis-options a").click(function(){
        console.log($(this).text(), "clicked");
        $("#vis-options a").removeClass("active");
        $(this).addClass("active");
        var mode = $(this).data("mode");
        // var processedData = processData(data, mode, binSize, duration);
        // console.log(data);
        var processedData = data[mode];
        // console.log(processed_data)
        // $("svg").remove();
        drawPlayVis(processedData, duration, visWidth, visHeight);

        // processedData = processTimeData(data);
        processedData = data["daily_view_counts"];
        drawTimeVis(processedData, visWidth, visHeight);
        // redrawVis(chart, processedData, duration, visWidth, visHeight);
        return false;
    });    
/*
    $("#binsize-options select").on("change", function(){
        binSize = $(this).val();
        console.log("binsize changed to", binSize);
        // $("svg").remove();
        // var dummyData = initData(binSize, duration);
        // chart = drawPlayVis(dummyData, duration, visWidth, visHeight);

        $("#vis-options a.active").trigger("click");
    });
*/
}


// function generateBinSizeOptions(){
//     var $select = $("<select/>");
//     for (i in binSizeOptions){
//         // console.log("adding", binSizeOptions[i]);
//         $("<option/>").attr("value", binSizeOptions[i]).text(binSizeOptions[i] + " sec").appendTo($select);
//     }
//     $select.appendTo($("#binsize-options"));
// }


function displayStats(){
    // var valid_count = getValidCount(starting_times, 24*60*60*1000);
    // Display stats
    var num_users = data["unique_student_count"];
    $(".play-count").text(num_users +
        " (x% of total enrolled)");
    $(".complete-count").text(data["completion_count"] +
        " (" + (data["completion_count"]*100/num_users).toFixed(1) + "% of all viewers)");
    // $(".replay-count").text(getObjectSize(replay_users) + 
    //     " (" + (getObjectSize(replay_users)*100/num_users).toFixed(1) + "% of all viewers)");
    // $(".skip-count").text(getObjectSize(skip_users) + 
    //     " (" + (getObjectSize(skip_users)*100/num_users).toFixed(1) + "% of all viewers)");

    $(".playcount-count").text(data["view_count"]);
    $(".playcount-student").text((data["view_count"] / num_users).toFixed(2));
    $(".watching-time").text(formatSeconds(data["total_watching_time"] / num_users));
    $(".video-length").text(formatSeconds(duration));    

    var total_playrate_counts = 0;
    var sorted_playrate_counts = [];
    for (var rate in data["playrate_counts"]){
        total_playrate_counts += data["playrate_counts"][rate];
        // replace _ with . in the speed display because Mongo doesn't allow . in the key
        sorted_playrate_counts.push([rate.replace("_", ".") + "x", data["playrate_counts"][rate]]);
    }
    sorted_playrate_counts.sort(function(a, b){ 
        return b[1] - a[1]; 
    });
    $.each(sorted_playrate_counts, function(){
        var $row = $("<tr/>");
        $("<td/>").text(this[0]).appendTo($row);
        $("<td/>").text(this[1]).appendTo($row);
        var percentage = (100.0 * this[1] / total_playrate_counts).toFixed(2);
        var $bar = $("<span/>").addClass("speed-bar").width(percentage + "%");
        $("<td/>").append($bar).append(percentage + "%").appendTo($row);
        $row.appendTo($("#speed-table"));
    });
}

function init(){
    data = ${data|n};
    // generateBinSizeOptions();
    bindEvents();
    displayStats();    
    // by default, select the default binsize value
    // $("#binsize-options select").val(defaultBinSize).change();
    // by default, click the first item
    $("#vis-options a").first().trigger("click");
}


$(document).ready(function(){
    // Load the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

});

</script>
</head>
<body>
    <section id="stats">
        <h2>Video Analytics Summary</h2>
        <table>
            <tr><td class="playcount-stat">Views: </td><td><span class="stat playcount-count"></span></td></tr>
            <tr><td class="play-stat">Unique Students Viewed: </td><td><span class="stat play-count"></span></td></tr>
            <tr><td class="complete-stat">Unique Students Completed: </td><td><span class="stat complete-count"></span></td></tr>            
<!--             <tr><td class="replay-stat">Unique Students Replayed: </td><td><span class="stat replay-count"></span></td></tr>
            <tr><td class="skip-stat">Unique Students Skipped: </td><td><span class="stat skip-count"></span></td></tr> -->
            <tr><td>&nbsp;</td></tr>
            <tr><td class="playcount-student-stat">Views per Student: </td><td><span class="stat playcount-student"></span></td></tr>
            <tr><td class="watching-time-stat">Average View Duration: </td><td><span class="stat watching-time"></span></td></tr>
            <tr><td class="video-length-stat">Video Length: </td><td><span class="stat video-length"></span></td></tr>
        </table>
    </section>
    <div id="ytplayer"></div>
    <section id="play-vis">
        <h2>Video Heatmap</h2>
        <div id="vis-options">
            <a class="" href="#" data-mode="raw_counts">Views</a>
            <a class="" href="#" data-mode="unique_counts">Unique Viewers</a>
            <a class="" href="#" data-mode="replay_counts">Replaying</a>
            <a class="" href="#" data-mode="skip_counts">Skipping</a>
            <a class="" href="#" data-mode="play_counts">Play Events</a>
            <a class="" href="#" data-mode="pause_counts">Pause Events</a>
            <!-- <div id="binsize-options">Bin Size: </div> -->
        </div>
    </section>
    <section id="time-vis">
        <h2>Views Over Time</h2>
    </section>
    <section id="speed">
        <h2>Play Speed</h2>
        <table id="speed-table">
            <tr>
                <th class="speed">Speed</th>
                <th class="views">Views</th>
                <th class="percent-views">% Views</th>
            </tr>
        </table>
    </section>
   <!--  <iframe id="ytplayer" type="text/html" width="640" height="390"
    src="https://www.youtube.com/embed/${ video_id }?enablejsapi=1" frameborder="0" allowfullscreen/>
 -->

</body>
</html>
