<%! 
    from staticfiles.storage import staticfiles_storage 
%>

<!DOCTYPE html>
<html>
<head>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel='stylesheet' type='text/css'>
    <link href="${staticfiles_storage.url('djmodules/video_analytics/css/common.css')}" rel='stylesheet' type='text/css'>
    <link href="${staticfiles_storage.url('djmodules/video_analytics/css/single-view.css')}" rel='stylesheet' type='text/css'>
    <script src="${staticfiles_storage.url('djmodules/video_analytics/js/jquery-1.10.2.min.js')}"></script>
    <script src="${staticfiles_storage.url('djmodules/video_analytics/js/d3.v3.min.js')}"></script>
    <!--<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
    <script>
    var chart;
    var player;
    var options = {};
    var duration = 0;
    var visWidth = 540;
    var visHeight = 180;
    var video_id = '${ video_id }';
    var data = ${data|n};
    var videos = ${videos|n};

    $(document).ready(function(){
        // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        init();
    });

    </script>
    <script src="${staticfiles_storage.url('djmodules/video_analytics/js/common.js')}"></script>
    <script src="${staticfiles_storage.url('djmodules/video_analytics/js/single-view.js')}"></script>    
</head>
<body>
<div class="container">
    <header>
    <h2 class="title">
        Video Analytics for <span class="video-title"></span>
    </h2>
    </header>
    <div id="tabs" class="clearfix">
        <div><a class="tab-item" href="#" data-mode="summary">Summary</a></div>
        <div><a class="tab-item" href="#" data-mode="heatmap">Heatmap</a></div>
        <div><a class="tab-item" href="#" data-mode="views">Views Over Time</a></div>
        <div class="nav">
            <div class="prev"><a href="#">&lt; Prev</a></div>
            <div class="list"><a href="video_list">Dashboard</a></div>
            <div class="next"><a href="#">Next &gt; </a></div>
        </div>        
    </div>

    <section id="stats">
        <h3>Summary</h3>
        <div class="clearfix">
        <div class="stat-box views">
            <div class="stat"></div>
            <div class="desc">views</div>
            <div class="substat"></div>
        </div>
        <div class="stat-box unique-views">
            <div class="stat"></div>
            <div class="desc">students started</div>
            <div class="substat"></div>
        </div>
        <div class="stat-box complete-count">
            <div class="stat"></div>
            <div class="desc">students completed</div>
            <div class="substat"></div>
        </div>            
        <div class="stat-box views-per-student">
            <div class="stat"></div>
            <div class="desc">views per student</div>
            <div class="substat"></div>
        </div>
        <div class="stat-box watching-time">
            <div class="stat"></div>
            <div class="desc">average view length</div>
            <div class="substat"></div>
        </div>
        </div>
    </section>

    <section id="speed">
        <h3>Play Speed</h3>
        <table id="speed-table" class="sortable">
            <tr>
                <th class="speed"><span>Speed</span><span class="sort-option" data-default="ascending"></span></th>
                <th class="views"><span>Views</span><span class="sort-option" data-default="ascending"></span></th>
                <th class="percent-views"><span>% Views</span><span class="sort-option" data-default="ascending"></span></th>
            </tr>
        </table>
    </section>    

    <section id="play-vis">
        <h3>Video Heatmap</h3>
        <div id="ytplayer"></div>        
        <div id="vis-options" class="clearfix">
            <div><a class="" href="#" data-mode="raw_counts">views</a></div>
            <div><a class="" href="#" data-mode="unique_counts">unique viewers</a></div>
            <div><a class="" href="#" data-mode="replay_counts">replay</a></div>
            <div><a class="" href="#" data-mode="skip_counts">skip</a></div>
            <div><a class="" href="#" data-mode="play_counts">play</a></div>
            <div><a class="" href="#" data-mode="pause_counts">pause</a></div>
        </div>
    </section>

    <section id="time-vis">
        <h3>Views Over Time</h3>
    </section>
</div>

</body>
</html>
