<html>
<head>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
</head>
<body>
<table>
% for item in parameters:
<tr><td>${ item }</td><td><input class="param_input" id=${ item }></td></tr>
% endfor
</table>
<input type=button value="Update!" id=update>
<iframe width=100% height=500 id="innermost">
</iframe>
<script>
$("#update").click(function(){
  query = ""; amp = "";
  $(".param_input").each(function() {
     query = query + amp + this.id+"="+encodeURIComponent(this.value);
     amp="&"
  });

  $("#innermost").attr("src", "/view/${ analytic }?"+query)
})
$(function(){
  // If there are no parameters, automatically load
  if(!$(".param_input").length) {
    $("#innermost").attr("src", "/view/${ analytic }")
  }

//  http://127.0.0.1:8000/query/autocomplete_available

  // If there are parameters, set up autocomplete
  $(".param_input").each(function(){
    var input_x = this.id;
    console.log("Calling JSON");
    $.getJSON("http://127.0.0.1:8000/query/user_autocomplete?autocomplete=f", 
        function(data) { 
           console.log("JSON came back");
           $("#"+input_x).autocomplete({source:data}); 
           console.log("Autocomplete for "+this.id+" set up with");
           console.log(data);
           //$("#"+this.id).autocomplete({source:["bob","joe"]});
        } );
    });
 });
</script>
</body>
</html>

